<div *ngIf="product.title" class="card" style="max-width: 23rem;">
  <img class="card-img-top" *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{product.title}}">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price | currency:'USD':true}}</p>

  </div>
  <div class="card-footer" *ngIf="showActions">
    <button (click)="addToCart(product)" class="add-to-cart-btn btn btn-primary btn-block">Add to Card</button>
    <div>
      {{ getQuantity() }}
    </div>
  </div>
</div>
