<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>You have {{ cart.totalItemsCount }} items in your shopping cart.</p>
  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price per Item</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cart.items">
      <td>{{item.product.title}}</td>
      <td>
        <app-product-quantity [product]="item.product" [shopping-cart]="cart"></app-product-quantity>
      </td>
      <td>{{item.product.price | currency:'USD':true}}</td>
      <td>{{item.totalPrice | currency:'USD':true}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Cart Total: </b>{{cart.totalPrice | currency:'USD':true}}</td>
    </tr>
    </tfoot>
  </table>
</ng-container>
