<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a
        routerLink="/"
        [class.active]="!category"
        class="list-group-item list-group-item-action">All Categories</a>
      <a
        *ngFor="let c of categories$"
        routerLink="/"
        [queryParams]="{category: c.key}"
        class="list-group-item list-group-item-action"
        [class.active]="category == c.key">
        {{c.name}}
      </a>
    </div>
  </div>
  <div class="col">
    <div class="row product-listing">
      <ng-container *ngFor="let p of filteredProducts; index as i">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="p.imageUrl" alt="{{p.title}}">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text">{{p.price | currency:'USD':true}}</p>
              <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
          </div>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>





